<!DOCTYPE html>
<html lang="ja">
<%- include('./head') %>

<body>
    <!--Header-->
    <%- //include('./header') %>
    <%- body %>

    <script>
        // $(function () {
        //     var disp_id = "#<%= //displayId %>";
        //     $(disp_id).html($(disp_id).text());
        // });
    </script>
    <%- defineContent('scripts') %>
</body>

</html>